doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Frontend Mentor | Single Price Grid Component
    link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png")
    link(rel="stylesheet" href="assets/css/styles.css")
  body
    header
      h1.hide Single Price Grid Component from Frontend Mentor
    main
      article.component
        .join.pad-1
          h2.join__title Join our community
          p.join__subtitle 30-day, hassle-free money back guarantee
          p.join__desc Gain access to our full library of tutorials along with expert code reviews. Perfect for any developers who are serious about honing their skills.
        section.subs.pad-1
          h3.subs__title Monthly Subscription
          p.price
            span.price__curr &dollar;29
            span.price__period per month
          p.subs__desc Full access for less than &dollar;1 a day
          a.subs__button(href="#") Sign Up
        section.why.pad-1
          h3.why__title Why Us
          p.why__desc Tutorials by industry experts
          p.why__desc Peer &amp; expert code review
          p.why__desc Coding exercises
          p.why__desc Access to our GitHub repos
          p.why__desc Community forum
          p.why__desc Flashcard decks
          p.why__desc New videos every week
